*{
  margin: 0;
  padding: 0;
  font-family: 'Righteous', cursive;
  box-sizing: border-box;
}

body{
  background: linear-gradient(#e66465, #9198e5);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.hide{
  display: none;
}


.container{
    position: absolute;
    background-color: blueviolet;
    box-shadow: 2px 2px 4px black;
    padding: 2rem;
    border-radius: 1rem;
    color: bisque;
    
    
}

.form h1{
  margin-bottom: 2rem;
}

.form-input-container{
  display: flex;
  justify-content: center;
}

.form input{
  padding: .8rem;
  border: none;
  flex: 1;
  outline: none;
  font-size: 19px;
}

#search{
  padding: 1.2rem;
  border: none;
  background-color: rgb(196, 180, 180);
  cursor: pointer;
}

#weather-data{
  width: 300px;
  margin-top: 30px;
  position: relative;
  padding-top: 10px; 
  bottom: -165px;
  background-color: rgba(0, 0, 0, 0.486);
  color: white;
  text-align: center;
    
}

#weather-data h2{
  display: flex;
  justify-content: center;
}


#weather-data i{
  margin-right: 3px;
}

#country{
  margin-left: 1rem;
}



#details-container{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}

#description-container{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
}

#temperature{
  margin-top: 1rem;
}

.visible{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.error{
  margin-top: 20px;
  display: block;
  color: rgb(235, 225, 225);
  border: 1px solid red;
  width: 200px;
  position: relative;
  left: 25%;
  border-radius: 5px;
  background-color: rgb(238, 109, 109);
}